In [1]:
# Delete unnamed columns
import pandas as pd
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
popu_data = pd.read_csv(url, sep = ',') 
del popu_data["Unnamed: 0"]
print(popu_data)

              Id       Name  Year Gender State  Count
0          11350       Emma  2004      F    AK     62
1          11351    Madison  2004      F    AK     48
2          11352     Hannah  2004      F    AK     46
3          11353      Grace  2004      F    AK     44
4          11354      Emily  2004      F    AK     41
5          11355    Abigail  2004      F    AK     37
6          11356     Olivia  2004      F    AK     33
7          11357   Isabella  2004      F    AK     30
8          11358     Alyssa  2004      F    AK     29
9          11359     Sophia  2004      F    AK     28
10         11360     Alexis  2004      F    AK     27
11         11361  Elizabeth  2004      F    AK     27
12         11362     Hailey  2004      F    AK     27
13         11363       Anna  2004      F    AK     26
14         11364    Natalie  2004      F    AK     25
15         11365      Sarah  2004      F    AK     25
16         11366     Sydney  2004      F    AK     25
17         11367        Ava  2004      F    AK     23
18         11368    Trinity  2004      F    AK     22
19         11369      Haley  2004      F    AK     21
20         11370     Kaylee  2004      F    AK     21
21         11371     Taylor  2004      F    AK     21
22         11372      Chloe  2004      F    AK     20
23         11373       Ella  2004      F    AK     20
24         11374  Mackenzie  2004      F    AK     20
25         11375     Sierra  2004      F    AK     19
26         11376      Kayla  2004      F    AK     18
27         11377   Samantha  2004      F    AK     18
28         11378        Zoe  2004      F    AK     18
29         11379    Jessica  2004      F    AK     17
...          ...        ...   ...    ...   ...    ...
1016365  5647397     Brooks  2014      M    WY      5
1016366  5647398     Calvin  2014      M    WY      5
1016367  5647399    Cameron  2014      M    WY      5
1016368  5647400     Dalton  2014      M    WY      5
1016369  5647401     Dawson  2014      M    WY      5
1016370  5647402     Edward  2014      M    WY      5
1016371  5647403      Elias  2014      M    WY      5
1016372  5647404       Gage  2014      M    WY      5
1016373  5647405     Hayden  2014      M    WY      5
1016374  5647406     Jasper  2014      M    WY      5
1016375  5647407       Jose  2014      M    WY      5
1016376  5647408     Kaiden  2014      M    WY      5
1016377  5647409      Kaleb  2014      M    WY      5
1016378  5647410      Kasen  2014      M    WY      5
1016379  5647411      Kyson  2014      M    WY      5
1016380  5647412      Lukas  2014      M    WY      5
1016381  5647413      Myles  2014      M    WY      5
1016382  5647414  Nathaniel  2014      M    WY      5
1016383  5647415      Nolan  2014      M    WY      5
1016384  5647416     Oakley  2014      M    WY      5
1016385  5647417       Odin  2014      M    WY      5
1016386  5647418     Paxton  2014      M    WY      5
1016387  5647419    Raymond  2014      M    WY      5
1016388  5647420    Richard  2014      M    WY      5
1016389  5647421      Rowan  2014      M    WY      5
1016390  5647422       Seth  2014      M    WY      5
1016391  5647423    Spencer  2014      M    WY      5
1016392  5647424       Tyce  2014      M    WY      5
1016393  5647425     Victor  2014      M    WY      5
1016394  5647426     Waylon  2014      M    WY      5

[1016395 rows x 6 columns]

In [1]:
# The distribution of male and female
import pandas as pd
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
popu_data = pd.read_csv(url, sep = ',') 
categorical = popu_data.dtypes[popu_data.dtypes == "object"].index
new_gender = pd.Categorical(popu_data["Gender"])
new_gender = new_gender.rename_categories(["Female","Male"])
print('The distribution of Female and male \n')
print(new_gender.describe())

The distribution of Female and male

            counts     freqs
categories
Female      558846  0.549832
Male        457549  0.450168

In [2]:
# The top 5 most preferred names
import pandas as pd

url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
popu_data = pd.read_csv(url, sep = ',') 
print(' The top 5 most preferred names \n')
print(popu_data['Name'].groupby([popu_data['Name']]).count().reset_index(name='count').sort_values(['count'], ascending=False).head(5))

 The top 5 most preferred names

         Name  count
14062   Riley   1112
2174    Avery   1080
8500   Jordan   1073
13459  Peyton   1064
6584   Hayden   1049

In [2]:
# The top 5 most preferred names
import pandas as pd
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
popu_data = pd.read_csv(url, sep = ',') 
print(popu_data['Name'].groupby([popu_data['Name']]).count().nlargest(5))

Name
Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Name: Name, dtype: int64

In [7]:
# Median name occurence in the dataset
import pandas as pd

url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
popu_data = pd.read_csv(url, sep = ',') ## press tab after pd.read<TAB> to find other file

popu_data['Index_Column'] = range(0,len(popu_data))
row_name = popu_data.loc[:,"Index_Column"].median()
print(popu_data.iloc[[row_name],[2]])

         Name
508197  Kasey

In [8]:
# Distribution of male and female born count by states
import pandas as pd
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
popu_data = pd.read_csv(url, sep = ',') ## press tab after pd.read<TAB> to find other file
print("\nDistribution of male and female born count by states\n",'-'*55, sep='')
print(popu_data['Gender'].groupby([popu_data['Gender'], popu_data['State']]).count())

Distribution of male and female born count by states
-------------------------------------------------------
Gender  State
F       AK        2404
        AL        9878
        AR        7171
        AZ       14518
        CA       45144
        CO       11424
        CT        6575
        DC        3053
        DE        2549
        FL       25781
        GA       19385
        HI        3255
        IA        7131
        ID        4918
        IL       21268
        IN       13056
        KS        7753
        KY        8817
        LA       10510
        MA       10580
        MD       11276
        ME        2976
        MI       16038
        MN       10677
        MO       11948
        MS        7235
        MT        2690
        NC       17357
        ND        2399
        NE        5370
                 ...
M       ME        2777
        MI       13243
        MN        9004
        MO        9917
        MS        6862
        MT        2986
        NC       13530
        ND        2581
        NE        5029
        NH        2659
        NJ       12274
        NM        4966
        NV        6024
        NY       22585
        OH       14318
        OK        8138
        OR        7333
        PA       14171
        RI        2468
        SC        8195
        SD        2908
        TN       10588
        TX       27791
        UT        8233
        VA       11997
        VT        1618
        WA       11049
        WI        8940
        WV        3733
        WY        1904
Name: Gender, Length: 102, dtype: int64